<!-- <% if (errors && errors.length > 0) { %>
  <div class="error-alert">
    <div class="error-header">
      <i class="fas fa-exclamation-circle"></i>
      Please fix the following errors
    </div>
    <ul class="error-list">
      <% errors.slice(0,5).forEach(error => { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  </div>
<% } %> -->
